# Wednesday (12.11.)

### Conditionals (if statements)

if <condition>:
    <something>
else:
    <do_something_else>

* elif = else if
* conditionals
    * test equality with == (number == 2)
    * test inequality with != (number != 2)

In [30]:
number = 4
if number > 0:
    print("this is a positive number")
else:
    print("this is a negative number")

this is a positive number

In [7]:
number = 0
if number > 0:
    print("this is a positive number")
elif number < 0:
    print("this is a negative number")
else:
    print("this number is 0")

this number is 0

In [12]:
fruit = "apple"
if fruit == "banana":
    print("this is a banana")
else:
    print("this is a(n)", fruit)

this is a(n) apple

In [24]:
fruits = ["apple", "banana", "grape", "orange", "pomelo", "ananas", "kiwi", "banana"]

for i in range(len(fruits)):
    fruit = (fruits[i])
    print("this fruit is a(n)", fruit)
    if fruits[i] == "banana":
        print("found a banana")

this fruit is a(n) apple
this fruit is a(n) banana
found a banana
this fruit is a(n) grape
this fruit is a(n) orange
this fruit is a(n) pomelo
this fruit is a(n) ananas
this fruit is a(n) kiwi
this fruit is a(n) banana
found a banana

In [26]:
fruits = ["apple", "banana", "grape", "orange", "pomelo", "ananas", "kiwi", "banana"]

for i in range(len(fruits)):
    if fruits[i] == "banana":
        print("found a banana at position", i)

found a banana at position 1
found a banana at position 7

In [32]:
abc = "We tried list and we tried dicts also we tried Zen"
abcd = abc.split()

dict = {}

for word in abcd:
    dict[word] = abcd.count(word)

for key, value in dict.items():
    print(key, value)

We 1
tried 3
list 1
and 1
we 2
dicts 1
also 1
Zen 1

In [34]:
abc = "We tried list and we tried dicts also we tried Zen"
words = abc.split
dict = {}

for word in words:
    dict[word] = 0

for word in words:
    dict[word] = dict[word] + 1

for key, value in dict.items():
    print(key, value)

TypeError: 'builtin_function_or_method' object is not iterable

In [50]:
lisst = text.split('\n')

for i, line in enumerate(lisst):
    if i %2 == 1:
        print(lisst[i])

Yes, brave Sir Robin turned about
And gallantly he chickened out
Bravely talking to his feet
He beat a very brave retreat

In [19]:
t = "AAAACCCGGT"
r = list(t)
s = ""
q = " ".join(r)

print(q)
print(q.capitalize())

r.remove("A")
print(r)

if r == "A":
    s = t.replace("A", "T") + s
elif t == "T":
    s = t.replace("T", "A") + s
elif t == "C":
    s = t.replace("C", "G") + s
elif t == "G":
    s = t.replace("G", "C") + s


#ACCGGGTTTT

A A A A C C C G G T
A a a a c c c g g t
['A', 'A', 'A', 'C', 'C', 'C', 'G', 'G', 'T']

replace T with t; A with a